{
  "openapi": "3.0.1",
  "info": {
    "title": "Quay Frontend",
    "description": "This API allows you to perform many of the operations required to work with Quay repositories, users, and organizations.",
    "termsOfService": "",
    "contact": {
      "email": "admin@example.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://quay.enthought.com/"
    }
  ],
  "tags": [
    {
      "name": "appspecifictokens",
      "description": "Manages app specific tokens for the current user."
    },
    {
      "name": "build",
      "description": "Create, list, cancel and get status/logs of repository builds."
    },
    {
      "name": "discovery",
      "description": "API discovery information."
    },
    {
      "name": "error",
      "description": "Error details API."
    },
    {
      "name": "globalmessages",
      "description": "Messages API."
    },
    {
      "name": "logs",
      "description": "Access usage logs for organizations or repositories."
    },
    {
      "name": "manifest",
      "description": "Manage the manifests of a repository."
    },
    {
      "name": "namespacequota",
      "description": ""
    },
    {
      "name": "organization",
      "description": "Manage organizations, members and OAuth applications."
    },
    {
      "name": "permission",
      "description": "Manage repository permissions."
    },
    {
      "name": "prototype",
      "description": "Manage default permissions added to repositories."
    },
    {
      "name": "repository",
      "description": "List, create and manage repositories."
    },
    {
      "name": "repositorynotification",
      "description": "List, create and manage repository events/notifications."
    },
    {
      "name": "repotoken",
      "description": "Manage repository access tokens (DEPRECATED)."
    },
    {
      "name": "robot",
      "description": "Manage user and organization robot accounts."
    },
    {
      "name": "search",
      "description": "Conduct searches against all registry context."
    },
    {
      "name": "superuser",
      "description": "Superuser API."
    },
    {
      "name": "tag",
      "description": "Manage the tags of a repository."
    },
    {
      "name": "team",
      "description": "Create, list and manage an organization's teams."
    },
    {
      "name": "trigger",
      "description": "Create, list and manage build triggers."
    },
    {
      "name": "user",
      "description": "Manage the current user."
    },
    {
      "name": "userfiles",
      "description": ""
    }
  ],
  "paths": {
    "/api/v1/user/apptoken": {
      "get": {
        "tags": [
          "appspecifictokens"
        ],
        "description": "Lists the app specific tokens for the user.",
        "operationId": "listAppTokens",
        "parameters": [
          {
            "name": "expiring",
            "in": "query",
            "description": "If true, only returns those tokens expiring soon",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "appspecifictokens"
        ],
        "description": "Create a new app specific token for user.",
        "operationId": "createAppToken",
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/NewToken"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.appspecifictokens.AppTokens",
      "x-path": "/api/v1/user/apptoken",
      "x-tag": "appspecifictokens"
    },
    "/api/v1/user/apptoken/{token_uuid}": {
      "get": {
        "tags": [
          "appspecifictokens"
        ],
        "description": "Returns a specific app token for the user.",
        "operationId": "getAppToken",
        "parameters": [
          {
            "name": "token_uuid",
            "in": "path",
            "description": "The uuid of the app specific token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "appspecifictokens"
        ],
        "description": "Revokes a specific app token for the user.",
        "operationId": "revokeAppToken",
        "parameters": [
          {
            "name": "token_uuid",
            "in": "path",
            "description": "The uuid of the app specific token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.appspecifictokens.AppToken",
      "x-path": "/api/v1/user/apptoken/{token_uuid}",
      "x-tag": "appspecifictokens"
    },
    "/api/v1/repository/{repository}/build/": {
      "get": {
        "tags": [
          "build"
        ],
        "description": "Get the list of repository builds.",
        "operationId": "getRepoBuilds",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Returns all builds since the given unix timecode",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of builds to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "build"
        ],
        "description": "Request that a repository be built and pushed from the specified input.",
        "operationId": "requestRepoBuild",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryBuildRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.build.RepositoryBuildList",
      "x-path": "/api/v1/repository/{repository}/build/",
      "x-tag": "build"
    },
    "/api/v1/repository/{repository}/build/{build_uuid}": {
      "get": {
        "tags": [
          "build"
        ],
        "description": "Returns information about a build.",
        "operationId": "getRepoBuild",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "description": "The UUID of the build",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "build"
        ],
        "description": "Cancels a repository build.",
        "operationId": "cancelRepoBuild",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "description": "The UUID of the build",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.build.RepositoryBuildResource",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}",
      "x-tag": "build"
    },
    "/api/v1/repository/{repository}/build/{build_uuid}/status": {
      "get": {
        "tags": [
          "build"
        ],
        "description": "Return the status for the builds specified by the build uuids.",
        "operationId": "getRepoBuildStatus",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "description": "The UUID of the build",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.build.RepositoryBuildStatus",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}/status",
      "x-tag": "build"
    },
    "/api/v1/repository/{repository}/build/{build_uuid}/logs": {
      "get": {
        "tags": [
          "build"
        ],
        "description": "Return the build logs for the build specified by the build uuid.",
        "operationId": "getRepoBuildLogs",
        "parameters": [
          {
            "name": "build_uuid",
            "in": "path",
            "description": "The UUID of the build",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.build.RepositoryBuildLogs",
      "x-path": "/api/v1/repository/{repository}/build/{build_uuid}/logs",
      "x-tag": "build"
    },
    "/api/v1/discovery": {
      "get": {
        "tags": [
          "discovery"
        ],
        "description": "List all of the API endpoints available in the swagger API format.",
        "operationId": "discovery",
        "parameters": [
          {
            "name": "internal",
            "in": "query",
            "description": "Whether to include internal APIs.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.discovery.DiscoveryResource",
      "x-path": "/api/v1/discovery",
      "x-tag": "discovery"
    },
    "/api/v1/error/{error_type}": {
      "get": {
        "tags": [
          "error"
        ],
        "description": "Get a detailed description of the error.",
        "operationId": "getErrorDescription",
        "parameters": [
          {
            "name": "error_type",
            "in": "path",
            "description": "The error code identifying the type of error.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDescription"
                }
              }
            }
          }
        }
      },
      "x-name": "endpoints.api.error.Error",
      "x-path": "/api/v1/error/{error_type}",
      "x-tag": "error"
    },
    "/api/v1/messages": {
      "get": {
        "tags": [
          "globalmessages"
        ],
        "description": "Return a super users messages.",
        "operationId": "getGlobalMessages",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "globalmessages"
        ],
        "description": "Create a message.",
        "operationId": "createGlobalMessage",
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.globalmessages.GlobalUserMessages",
      "x-path": "/api/v1/messages",
      "x-tag": "globalmessages"
    },
    "/api/v1/message/{uuid}": {
      "delete": {
        "tags": [
          "globalmessages"
        ],
        "description": "Delete a message.",
        "operationId": "deleteGlobalMessage",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.globalmessages.GlobalUserMessage",
      "x-path": "/api/v1/message/{uuid}",
      "x-tag": "globalmessages"
    },
    "/api/v1/repository/{repository}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "List the logs for the specified repository.",
        "operationId": "listRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "description": "The page token for the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.RepositoryLogs",
      "x-path": "/api/v1/repository/{repository}/logs",
      "x-tag": "logs"
    },
    "/api/v1/user/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "List the logs for the current user.",
        "operationId": "listUserLogs",
        "parameters": [
          {
            "name": "next_page",
            "in": "query",
            "description": "The page token for the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "performer",
            "in": "query",
            "description": "Username for which to filter logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.UserLogs",
      "x-path": "/api/v1/user/logs",
      "x-tag": "logs"
    },
    "/api/v1/organization/{orgname}/logs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "List the logs for the specified organization.",
        "operationId": "listOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page",
            "in": "query",
            "description": "The page token for the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "performer",
            "in": "query",
            "description": "Username for which to filter logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.OrgLogs",
      "x-path": "/api/v1/organization/{orgname}/logs",
      "x-tag": "logs"
    },
    "/api/v1/repository/{repository}/aggregatelogs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "Returns the aggregated logs for the specified repository.",
        "operationId": "getAggregateRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.RepositoryAggregateLogs",
      "x-path": "/api/v1/repository/{repository}/aggregatelogs",
      "x-tag": "logs"
    },
    "/api/v1/user/aggregatelogs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "Returns the aggregated logs for the current user.",
        "operationId": "getAggregateUserLogs",
        "parameters": [
          {
            "name": "performer",
            "in": "query",
            "description": "Username for which to filter logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.UserAggregateLogs",
      "x-path": "/api/v1/user/aggregatelogs",
      "x-tag": "logs"
    },
    "/api/v1/organization/{orgname}/aggregatelogs": {
      "get": {
        "tags": [
          "logs"
        ],
        "description": "Gets the aggregated logs for the specified organization.",
        "operationId": "getAggregateOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "performer",
            "in": "query",
            "description": "Username for which to filter logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.logs.OrgAggregateLogs",
      "x-path": "/api/v1/organization/{orgname}/aggregatelogs",
      "x-tag": "logs"
    },
    "/api/v1/repository/{repository}/exportlogs": {
      "post": {
        "tags": [
          "logs"
        ],
        "description": "Queues an export of the logs for the specified repository.",
        "operationId": "exportRepoLogs",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ExportLogs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.logs.ExportRepositoryLogs",
      "x-path": "/api/v1/repository/{repository}/exportlogs",
      "x-tag": "logs"
    },
    "/api/v1/user/exportlogs": {
      "post": {
        "tags": [
          "logs"
        ],
        "description": "Returns the aggregated logs for the current user.",
        "operationId": "exportUserLogs",
        "parameters": [
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ExportLogs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.logs.ExportUserLogs",
      "x-path": "/api/v1/user/exportlogs",
      "x-tag": "logs"
    },
    "/api/v1/organization/{orgname}/exportlogs": {
      "post": {
        "tags": [
          "logs"
        ],
        "description": "Exports the logs for the specified organization.",
        "operationId": "exportOrgLogs",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "Latest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ExportLogs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.logs.ExportOrgLogs",
      "x-path": "/api/v1/organization/{orgname}/exportlogs",
      "x-tag": "logs"
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}": {
      "get": {
        "tags": [
          "manifest"
        ],
        "operationId": "getRepoManifest",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestref",
            "in": "path",
            "description": "The digest of the manifest",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_modelcard",
            "in": "query",
            "description": "If specified, include modelcard markdown from image, if any",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.manifest.RepositoryManifest",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}",
      "x-tag": "manifest"
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}/labels": {
      "get": {
        "tags": [
          "manifest"
        ],
        "operationId": "listManifestLabels",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestref",
            "in": "path",
            "description": "The digest of the manifest",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "If specified, only labels matching the given prefix will be returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "manifest"
        ],
        "description": "Adds a new label into the tag manifest.",
        "operationId": "addManifestLabel",
        "parameters": [
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestref",
            "in": "path",
            "description": "The digest of the manifest",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AddLabel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.manifest.RepositoryManifestLabels",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}/labels",
      "x-tag": "manifest"
    },
    "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}": {
      "get": {
        "tags": [
          "manifest"
        ],
        "description": "Retrieves the label with the specific ID under the manifest.",
        "operationId": "getManifestLabel",
        "parameters": [
          {
            "name": "labelid",
            "in": "path",
            "description": "The ID of the label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestref",
            "in": "path",
            "description": "The digest of the manifest",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "manifest"
        ],
        "description": "Deletes an existing label from a manifest.",
        "operationId": "deleteManifestLabel",
        "parameters": [
          {
            "name": "labelid",
            "in": "path",
            "description": "The ID of the label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The full path of the repository. e.g. namespace/name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestref",
            "in": "path",
            "description": "The digest of the manifest",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.manifest.ManageRepositoryManifestLabel",
      "x-path": "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}",
      "x-tag": "manifest"
    },
    "/api/v1/organization/{orgname}/quota": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "listOrganizationQuota",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "namespacequota"
        ],
        "description": "Create a new organization quota.",
        "operationId": "createOrganizationQuota",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/NewOrgQuota"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.namespacequota.OrganizationQuotaList",
      "x-path": "/api/v1/organization/{orgname}/quota",
      "x-tag": "namespacequota"
    },
    "/api/v1/organization/{orgname}/quota/{quota_id}": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "getOrganizationQuota",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "changeOrganizationQuota",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgQuota"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "deleteOrganizationQuota",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.OrganizationQuota",
      "x-path": "/api/v1/organization/{orgname}/quota/{quota_id}",
      "x-tag": "namespacequota"
    },
    "/api/v1/organization/{orgname}/quota/{quota_id}/limit": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "listOrganizationQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "createOrganizationQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/NewOrgQuotaLimit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.namespacequota.OrganizationQuotaLimitList",
      "x-path": "/api/v1/organization/{orgname}/quota/{quota_id}/limit",
      "x-tag": "namespacequota"
    },
    "/api/v1/organization/{orgname}/quota/{quota_id}/limit/{limit_id}": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "getOrganizationQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "changeOrganizationQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgQuotaLimit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "deleteOrganizationQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.OrganizationQuotaLimit",
      "x-path": "/api/v1/organization/{orgname}/quota/{quota_id}/limit/{limit_id}",
      "x-tag": "namespacequota"
    },
    "/api/v1/user/quota": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "listUserQuota",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.UserQuotaList",
      "x-path": "/api/v1/user/quota",
      "x-tag": "namespacequota"
    },
    "/api/v1/user/quota/{quota_id}": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "getUserQuota",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.UserQuota",
      "x-path": "/api/v1/user/quota/{quota_id}",
      "x-tag": "namespacequota"
    },
    "/api/v1/user/quota/{quota_id}/limit": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "listUserQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.UserQuotaLimitList",
      "x-path": "/api/v1/user/quota/{quota_id}/limit",
      "x-tag": "namespacequota"
    },
    "/api/v1/user/quota/{quota_id}/limit/{limit_id}": {
      "get": {
        "tags": [
          "namespacequota"
        ],
        "operationId": "getUserQuotaLimit",
        "parameters": [
          {
            "name": "quota_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.namespacequota.UserQuotaLimit",
      "x-path": "/api/v1/user/quota/{quota_id}/limit/{limit_id}",
      "x-tag": "namespacequota"
    },
    "/api/v1/organization/": {
      "post": {
        "tags": [
          "organization"
        ],
        "description": "Create a new organization.",
        "operationId": "createOrganization",
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/NewOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Successful creation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "x-name": "endpoints.api.organization.OrganizationList",
      "x-path": "/api/v1/organization/",
      "x-tag": "organization"
    },
    "/api/v1/organization/{orgname}": {
      "get": {
        "tags": [
          "organization"
        ],
        "description": "Get the details for the specified organization.",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "organization"
        ],
        "description": "Change the details for the specified organization.",
        "operationId": "changeOrganizationDetails",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body contents.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful invocation",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "organization"
        ],
        "description": "Deletes the specified organization.",
        "operationId": "deleteAdminedOrganization",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Deleted",
            "content": {}
          }
        }
      },
      "x-name": "endpoints.api.organization.Organization",
      "x-path": "/api/v1/organization/{orgname}",
      "x-tag": "organization"
    },
    "/api/v1/organization/{orgname}/collaborators": {
      "get": {
        "tags": [
          "organization"
        ],
        "description": "List outside collaborators of the specified organization.",
        "operationId": "getOrganizationCollaborators",
        "parameters": [
          {
            "name": "orgname",
            "in": "path",
            "description": "The name of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
[...]
