openapi: 3.0.1
info:
  contact:
    email: admin@example.com
  description: "This API allows you to perform many of the operations required to\
    \ work with Quay repositories, users, and organizations."
  termsOfService: ""
  title: Quay Frontend
  version: v1
servers:
- url: https://quay.enthought.com/
tags:
- description: Manages app specific tokens for the current user.
  name: appspecifictokens
- description: "Create, list, cancel and get status/logs of repository builds."
  name: build
- description: API discovery information.
  name: discovery
- description: Error details API.
  name: error
- description: Messages API.
  name: globalmessages
- description: Access usage logs for organizations or repositories.
  name: logs
- description: Manage the manifests of a repository.
  name: manifest
- description: ""
  name: namespacequota
- description: "Manage organizations, members and OAuth applications."
  name: organization
- description: Manage repository permissions.
  name: permission
- description: Manage default permissions added to repositories.
  name: prototype
- description: "List, create and manage repositories."
  name: repository
- description: "List, create and manage repository events/notifications."
  name: repositorynotification
- description: Manage repository access tokens (DEPRECATED).
  name: repotoken
- description: Manage user and organization robot accounts.
  name: robot
- description: Conduct searches against all registry context.
  name: search
- description: Superuser API.
  name: superuser
- description: Manage the tags of a repository.
  name: tag
- description: "Create, list and manage an organization's teams."
  name: team
- description: "Create, list and manage build triggers."
  name: trigger
- description: Manage the current user.
  name: user
- description: ""
  name: userfiles
paths:
  /api/v1/user/apptoken:
    get:
      description: Lists the app specific tokens for the user.
      operationId: listAppTokens
      parameters:
      - description: "If true, only returns those tokens expiring soon"
        explode: true
        in: query
        name: expiring
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - appspecifictokens
    post:
      description: Create a new app specific token for user.
      operationId: createAppToken
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewToken"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - appspecifictokens
      x-codegen-request-body-name: body
    x-name: endpoints.api.appspecifictokens.AppTokens
    x-path: /api/v1/user/apptoken
    x-tag: appspecifictokens
  /api/v1/user/apptoken/{token_uuid}:
    delete:
      description: Revokes a specific app token for the user.
      operationId: revokeAppToken
      parameters:
      - description: The uuid of the app specific token
        explode: false
        in: path
        name: token_uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - appspecifictokens
    get:
      description: Returns a specific app token for the user.
      operationId: getAppToken
      parameters:
      - description: The uuid of the app specific token
        explode: false
        in: path
        name: token_uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - appspecifictokens
    x-name: endpoints.api.appspecifictokens.AppToken
    x-path: "/api/v1/user/apptoken/{token_uuid}"
    x-tag: appspecifictokens
  /api/v1/repository/{repository}/build/:
    get:
      description: Get the list of repository builds.
      operationId: getRepoBuilds
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: Returns all builds since the given unix timecode
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum number of builds to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - build
    post:
      description: Request that a repository be built and pushed from the specified
        input.
      operationId: requestRepoBuild
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/RepositoryBuildRequest"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - build
      x-codegen-request-body-name: body
    x-name: endpoints.api.build.RepositoryBuildList
    x-path: "/api/v1/repository/{repository}/build/"
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}:
    delete:
      description: Cancels a repository build.
      operationId: cancelRepoBuild
      parameters:
      - description: The UUID of the build
        explode: false
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - build
    get:
      description: Returns information about a build.
      operationId: getRepoBuild
      parameters:
      - description: The UUID of the build
        explode: false
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildResource
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}"
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/status:
    get:
      description: Return the status for the builds specified by the build uuids.
      operationId: getRepoBuildStatus
      parameters:
      - description: The UUID of the build
        explode: false
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildStatus
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}/status"
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/logs:
    get:
      description: Return the build logs for the build specified by the build uuid.
      operationId: getRepoBuildLogs
      parameters:
      - description: The UUID of the build
        explode: false
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildLogs
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}/logs"
    x-tag: build
  /api/v1/discovery:
    get:
      description: List all of the API endpoints available in the swagger API format.
      operationId: discovery
      parameters:
      - description: Whether to include internal APIs.
        explode: true
        in: query
        name: internal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - discovery
    x-name: endpoints.api.discovery.DiscoveryResource
    x-path: /api/v1/discovery
    x-tag: discovery
  /api/v1/error/{error_type}:
    get:
      description: Get a detailed description of the error.
      operationId: getErrorDescription
      parameters:
      - description: The error code identifying the type of error.
        explode: false
        in: path
        name: error_type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiErrorDescription"
          description: Successful invocation
      tags:
      - error
    x-name: endpoints.api.error.Error
    x-path: "/api/v1/error/{error_type}"
    x-tag: error
  /api/v1/messages:
    get:
      description: Return a super users messages.
      operationId: getGlobalMessages
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - globalmessages
    post:
      description: Create a message.
      operationId: createGlobalMessage
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/CreateMessage"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - globalmessages
      x-codegen-request-body-name: body
    x-name: endpoints.api.globalmessages.GlobalUserMessages
    x-path: /api/v1/messages
    x-tag: globalmessages
  /api/v1/message/{uuid}:
    delete:
      description: Delete a message.
      operationId: deleteGlobalMessage
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - globalmessages
    x-name: endpoints.api.globalmessages.GlobalUserMessage
    x-path: "/api/v1/message/{uuid}"
    x-tag: globalmessages
  /api/v1/repository/{repository}/logs:
    get:
      description: List the logs for the specified repository.
      operationId: listRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The page token for the next page
        explode: true
        in: query
        name: next_page
        required: false
        schema:
          type: string
        style: form
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.RepositoryLogs
    x-path: "/api/v1/repository/{repository}/logs"
    x-tag: logs
  /api/v1/user/logs:
    get:
      description: List the logs for the current user.
      operationId: listUserLogs
      parameters:
      - description: The page token for the next page
        explode: true
        in: query
        name: next_page
        required: false
        schema:
          type: string
        style: form
      - description: Username for which to filter logs.
        explode: true
        in: query
        name: performer
        required: false
        schema:
          type: string
        style: form
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.UserLogs
    x-path: /api/v1/user/logs
    x-tag: logs
  /api/v1/organization/{orgname}/logs:
    get:
      description: List the logs for the specified organization.
      operationId: listOrgLogs
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The page token for the next page
        explode: true
        in: query
        name: next_page
        required: false
        schema:
          type: string
        style: form
      - description: Username for which to filter logs.
        explode: true
        in: query
        name: performer
        required: false
        schema:
          type: string
        style: form
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.OrgLogs
    x-path: "/api/v1/organization/{orgname}/logs"
    x-tag: logs
  /api/v1/repository/{repository}/aggregatelogs:
    get:
      description: Returns the aggregated logs for the specified repository.
      operationId: getAggregateRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.RepositoryAggregateLogs
    x-path: "/api/v1/repository/{repository}/aggregatelogs"
    x-tag: logs
  /api/v1/user/aggregatelogs:
    get:
      description: Returns the aggregated logs for the current user.
      operationId: getAggregateUserLogs
      parameters:
      - description: Username for which to filter logs.
        explode: true
        in: query
        name: performer
        required: false
        schema:
          type: string
        style: form
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.UserAggregateLogs
    x-path: /api/v1/user/aggregatelogs
    x-tag: logs
  /api/v1/organization/{orgname}/aggregatelogs:
    get:
      description: Gets the aggregated logs for the specified organization.
      operationId: getAggregateOrgLogs
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: Username for which to filter logs.
        explode: true
        in: query
        name: performer
        required: false
        schema:
          type: string
        style: form
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - logs
    x-name: endpoints.api.logs.OrgAggregateLogs
    x-path: "/api/v1/organization/{orgname}/aggregatelogs"
    x-tag: logs
  /api/v1/repository/{repository}/exportlogs:
    post:
      description: Queues an export of the logs for the specified repository.
      operationId: exportRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/ExportLogs"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - logs
      x-codegen-request-body-name: body
    x-name: endpoints.api.logs.ExportRepositoryLogs
    x-path: "/api/v1/repository/{repository}/exportlogs"
    x-tag: logs
  /api/v1/user/exportlogs:
    post:
      description: Returns the aggregated logs for the current user.
      operationId: exportUserLogs
      parameters:
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/ExportLogs"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - logs
      x-codegen-request-body-name: body
    x-name: endpoints.api.logs.ExportUserLogs
    x-path: /api/v1/user/exportlogs
    x-tag: logs
  /api/v1/organization/{orgname}/exportlogs:
    post:
      description: Exports the logs for the specified organization.
      operationId: exportOrgLogs
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: "Latest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: string
        style: form
      - description: "Earliest time for logs. Format: \"%m/%d/%Y\" in UTC."
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/ExportLogs"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - logs
      x-codegen-request-body-name: body
    x-name: endpoints.api.logs.ExportOrgLogs
    x-path: "/api/v1/organization/{orgname}/exportlogs"
    x-tag: logs
  /api/v1/repository/{repository}/manifest/{manifestref}:
    get:
      operationId: getRepoManifest
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The digest of the manifest
        explode: false
        in: path
        name: manifestref
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, include modelcard markdown from image, if any"
        explode: true
        in: query
        name: include_modelcard
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - manifest
    x-name: endpoints.api.manifest.RepositoryManifest
    x-path: "/api/v1/repository/{repository}/manifest/{manifestref}"
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}/labels:
    get:
      operationId: listManifestLabels
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The digest of the manifest
        explode: false
        in: path
        name: manifestref
        required: true
        schema:
          type: string
        style: simple
      - description: "If specified, only labels matching the given prefix will be\
          \ returned"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - manifest
    post:
      description: Adds a new label into the tag manifest.
      operationId: addManifestLabel
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The digest of the manifest
        explode: false
        in: path
        name: manifestref
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/AddLabel"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - manifest
      x-codegen-request-body-name: body
    x-name: endpoints.api.manifest.RepositoryManifestLabels
    x-path: "/api/v1/repository/{repository}/manifest/{manifestref}/labels"
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}:
    delete:
      description: Deletes an existing label from a manifest.
      operationId: deleteManifestLabel
      parameters:
      - description: The ID of the label
        explode: false
        in: path
        name: labelid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The digest of the manifest
        explode: false
        in: path
        name: manifestref
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - manifest
    get:
      description: Retrieves the label with the specific ID under the manifest.
      operationId: getManifestLabel
      parameters:
      - description: The ID of the label
        explode: false
        in: path
        name: labelid
        required: true
        schema:
          type: string
        style: simple
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The digest of the manifest
        explode: false
        in: path
        name: manifestref
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - manifest
    x-name: endpoints.api.manifest.ManageRepositoryManifestLabel
    x-path: "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}"
    x-tag: manifest
  /api/v1/organization/{orgname}/quota:
    get:
      operationId: listOrganizationQuota
      parameters:
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    post:
      description: Create a new organization quota.
      operationId: createOrganizationQuota
      parameters:
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewOrgQuota"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - namespacequota
      x-codegen-request-body-name: body
    x-name: endpoints.api.namespacequota.OrganizationQuotaList
    x-path: "/api/v1/organization/{orgname}/quota"
    x-tag: namespacequota
  /api/v1/organization/{orgname}/quota/{quota_id}:
    delete:
      operationId: deleteOrganizationQuota
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - namespacequota
    get:
      operationId: getOrganizationQuota
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    put:
      operationId: changeOrganizationQuota
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UpdateOrgQuota"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
      x-codegen-request-body-name: body
    x-name: endpoints.api.namespacequota.OrganizationQuota
    x-path: "/api/v1/organization/{orgname}/quota/{quota_id}"
    x-tag: namespacequota
  /api/v1/organization/{orgname}/quota/{quota_id}/limit:
    get:
      operationId: listOrganizationQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    post:
      operationId: createOrganizationQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewOrgQuotaLimit"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - namespacequota
      x-codegen-request-body-name: body
    x-name: endpoints.api.namespacequota.OrganizationQuotaLimitList
    x-path: "/api/v1/organization/{orgname}/quota/{quota_id}/limit"
    x-tag: namespacequota
  /api/v1/organization/{orgname}/quota/{quota_id}/limit/{limit_id}:
    delete:
      operationId: deleteOrganizationQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: limit_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - namespacequota
    get:
      operationId: getOrganizationQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: limit_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    put:
      operationId: changeOrganizationQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: limit_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UpdateOrgQuotaLimit"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
      x-codegen-request-body-name: body
    x-name: endpoints.api.namespacequota.OrganizationQuotaLimit
    x-path: "/api/v1/organization/{orgname}/quota/{quota_id}/limit/{limit_id}"
    x-tag: namespacequota
  /api/v1/user/quota:
    get:
      operationId: listUserQuota
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    x-name: endpoints.api.namespacequota.UserQuotaList
    x-path: /api/v1/user/quota
    x-tag: namespacequota
  /api/v1/user/quota/{quota_id}:
    get:
      operationId: getUserQuota
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    x-name: endpoints.api.namespacequota.UserQuota
    x-path: "/api/v1/user/quota/{quota_id}"
    x-tag: namespacequota
  /api/v1/user/quota/{quota_id}/limit:
    get:
      operationId: listUserQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    x-name: endpoints.api.namespacequota.UserQuotaLimitList
    x-path: "/api/v1/user/quota/{quota_id}/limit"
    x-tag: namespacequota
  /api/v1/user/quota/{quota_id}/limit/{limit_id}:
    get:
      operationId: getUserQuotaLimit
      parameters:
      - explode: false
        in: path
        name: quota_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: limit_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - namespacequota
    x-name: endpoints.api.namespacequota.UserQuotaLimit
    x-path: "/api/v1/user/quota/{quota_id}/limit/{limit_id}"
    x-tag: namespacequota
  /api/v1/organization/:
    post:
      description: Create a new organization.
      operationId: createOrganization
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewOrg"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationList
    x-path: /api/v1/organization/
    x-tag: organization
  /api/v1/organization/{orgname}:
    delete:
      description: Deletes the specified organization.
      operationId: deleteAdminedOrganization
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - organization
    get:
      description: Get the details for the specified organization.
      operationId: getOrganization
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    put:
      description: Change the details for the specified organization.
      operationId: changeOrganizationDetails
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UpdateOrg"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.Organization
    x-path: "/api/v1/organization/{orgname}"
    x-tag: organization
  /api/v1/organization/{orgname}/collaborators:
    get:
      description: List outside collaborators of the specified organization.
      operationId: getOrganizationCollaborators
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationCollaboratorList
    x-path: "/api/v1/organization/{orgname}/collaborators"
    x-tag: organization
  /api/v1/organization/{orgname}/members:
    get:
      description: List the human members of the specified organization.
      operationId: getOrganizationMembers
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationMemberList
    x-path: "/api/v1/organization/{orgname}/members"
    x-tag: organization
  /api/v1/organization/{orgname}/members/{membername}:
    delete:
      description: |-
        Removes a member from an organization, revoking all its repository priviledges and removing
                it from all teams in the organization.
      operationId: removeOrganizationMember
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the organization member
        explode: false
        in: path
        name: membername
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - organization
    get:
      description: Retrieves the details of a member of the organization.
      operationId: getOrganizationMember
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the organization member
        explode: false
        in: path
        name: membername
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationMember
    x-path: "/api/v1/organization/{orgname}/members/{membername}"
    x-tag: organization
  /api/v1/app/{client_id}:
    get:
      description: Get information on the specified application.
      operationId: getApplicationInformation
      parameters:
      - description: The OAuth client ID
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    x-name: endpoints.api.organization.ApplicationInformation
    x-path: "/api/v1/app/{client_id}"
    x-tag: organization
  /api/v1/organization/{orgname}/applications:
    get:
      description: List the applications for the specified organization.
      operationId: getOrganizationApplications
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    post:
      description: Creates a new application under this organization.
      operationId: createOrganizationApplication
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewApp"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "201":
          content: {}
          description: Successful creation
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationApplications
    x-path: "/api/v1/organization/{orgname}/applications"
    x-tag: organization
  /api/v1/organization/{orgname}/applications/{client_id}:
    delete:
      description: Deletes the application under this organization.
      operationId: deleteOrganizationApplication
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The OAuth client ID
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - organization
    get:
      description: Retrieves the application with the specified client_id under the
        specified organization.
      operationId: getOrganizationApplication
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The OAuth client ID
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
    put:
      description: Updates an application under this organization.
      operationId: updateOrganizationApplication
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      - description: The OAuth client ID
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UpdateApp"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationApplicationResource
    x-path: "/api/v1/organization/{orgname}/applications/{client_id}"
    x-tag: organization
  /api/v1/repository/{repository}/permissions/team/:
    get:
      description: List all team permission.
      operationId: listRepoTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryTeamPermissionList
    x-path: "/api/v1/repository/{repository}/permissions/team/"
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/:
    get:
      description: List all user permissions.
      operationId: listRepoUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryUserPermissionList
    x-path: "/api/v1/repository/{repository}/permissions/user/"
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/{username}/transitive:
    get:
      description: Get the fetch the permission for the specified user.
      operationId: getUserTransitivePermission
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the user to which the permissions apply
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryUserTransitivePermission
    x-path: "/api/v1/repository/{repository}/permissions/user/{username}/transitive"
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/{username}:
    delete:
      description: Delete the permission for the user.
      operationId: deleteUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the user to which the permission applies
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - permission
    get:
      description: Get the permission for the specified user.
      operationId: getUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the user to which the permission applies
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
    put:
      description: Update the perimssions for an existing repository.
      operationId: changeUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The username of the user to which the permission applies
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UserPermission"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
      x-codegen-request-body-name: body
    x-name: endpoints.api.permission.RepositoryUserPermission
    x-path: "/api/v1/repository/{repository}/permissions/user/{username}"
    x-tag: permission
  /api/v1/repository/{repository}/permissions/team/{teamname}:
    delete:
      description: Delete the permission for the specified team.
      operationId: deleteTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the team to which the permission applies
        explode: false
        in: path
        name: teamname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "204":
          content: {}
          description: Deleted
      tags:
      - permission
    get:
      description: Fetch the permission for the specified team.
      operationId: getTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the team to which the permission applies
        explode: false
        in: path
        name: teamname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
    put:
      description: Update the existing team permission.
      operationId: changeTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        explode: false
        in: path
        name: repository
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the team to which the permission applies
        explode: false
        in: path
        name: teamname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/TeamPermission"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - permission
      x-codegen-request-body-name: body
    x-name: endpoints.api.permission.RepositoryTeamPermission
    x-path: "/api/v1/repository/{repository}/permissions/team/{teamname}"
    x-tag: permission
  /api/v1/organization/{orgname}/prototypes:
    get:
      description: List the existing prototypes for this organization.
      operationId: getOrganizationPrototypePermissions
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Not found
        "200":
          content: {}
          description: Successful invocation
      tags:
      - prototype
    post:
      description: Create a new permission prototype.
      operationId: createOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        explode: false
        in: path
        name: orgname
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/NewPrototype"
        description: Request body contents.
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiError"
[...]
